@model ECOMSYSTEM.Shared.Models.Counselor
@{
    Layout = "_TeacherLayout";
}

<!DOCTYPE html>
<html lang="en" dir="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Counselor | EduSight</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link href="../../dist-assets/css/themes/lite-purple.min.css" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Sweet alert -->
    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/CounselorDoc.js"></script>
</head>

<body class="text-left">

    <div class="main-content">
        <div class="breadcrumb">
            <ul>
                <li><a href="">Add Counselor</a></li>
                <li>Admin</li>
            </ul>
        </div>
        <div class="col-lg-8">
            <div class="form-panel">
                <div class="form-group">
                    <label for="counselorName">Name</label>
                    <input class="form-control form-control-rounded" id="counselorName" name="counselorName" type="text" placeholder="e.g. Dilani Fernando" required>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="counselorEmail">Email address</label>
                        <input class="form-control form-control-rounded" id="counselorEmail" name="counselorEmail" type="email" placeholder="name@school.edu" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="counselorMobileNo">Mobile No</label>
                        <input class="form-control form-control-rounded" id="counselorMobileNo" name="counselorMobileNo" type="text" placeholder="07X XXX XXXX" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="counselorAddress">Address</label>
                        <input class="form-control form-control-rounded" id="counselorAddress" name="counselorAddress" type="text" placeholder="Street, city" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="counselorSpecialization">Specialization</label>
                        <input class="form-control form-control-rounded" id="counselorSpecialization" name="counselorSpecialization" type="text" placeholder="e.g. Career Guidance">
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary btn-rounded" type="button" onclick="SaveCounselorBtn_Click();">Add</button>
                    <button class="btn btn-outline-secondary btn-rounded" type="button" onclick="ClearCounselorForm();">Cancel</button>
                </div>
            </div>
        </div>
        <!-- end of main-content -->
    </div>

</body>

</html>
